.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 1px solid #333;
    padding: 8px 16px;
    border-radius: 4px;
}

.search input {
    border: transparent;
    background-color: transparent;
    outline: none;

    margin-right: 4px;

    width: 200px;

    font-size: 16 px;
}

.search img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}